Package: centreon-clapi
Version: 18.10.4-2
Section: net
Priority: extra
Architecture: all
Depends: centreon-ui ( >=18.10.4)
Installed-Size: 284
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Scripts for Centreon Clapi
