[Unit]
Description=Enable service provided CentreonTrapd : Manage SNMP Traps
After=syslog.target network.target
ConditionPathExists=/usr/share/centreon/bin/centreontrapd

[Service]
Type=simple
PIDFile=/var/run/centreon/centreontrapd.pid
EnvironmentFile=/etc/default/centreontrapd
User=centreon
ExecStart=/usr/share/centreon/bin/centreontrapd $OPTIONS
TimeoutSec=0

[Install]
WantedBy=multi-user.target

