Package: centreon-web
Version: 2.8.26-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-broker-cbd ( >=3.0.14 ), centreon-widget-engine-status ( >=1.0.2), centreon-widget-graph-monitoring ( >=1.5.4), centreon-widget-grid-map ( >=1.0.0), centreon-widget-host-monitoring ( >=1.6.3), centreon-widget-hostgroup-monitoring ( >=1.6.0), centreon-widget-httploader ( >=1.0.0), centreon-widget-live-top10-cpu-usage ( >=1.1.1), centreon-widget-live-top10-memory-usage ( >=1.1.1), centreon-widget-service-monitoring ( >=1.6.3), centreon-widget-servicegroup-monitoring ( >=1.6.1), centreon-widget-tactical-overview ( >=1.0.1), centreon-perl-libs ( >=2.8.26), centreon-common (>=2.8.26), php5-intl (>=5.6.9), sudo ( >=1.8.10 ), tofrodos (>=1.7.13), bsd-mailx (>=8.1.2),  lsb-release (>=4.1), libmysqlclient18 (>=5.5.40), apache2-mpm-prefork (>=2.4.10), php5 (>=5.6.9), php5-mysql (>=5.6.9), php5-ldap (>=5.6.9),  php5-snmp (>=5.6.9),  php5-gd (>=5.6.9), php-pear (>=5.6.9), rrdtool (>=1.4.8), libdigest-sha-perl (>=5.93), libgd-perl (>= 2.53), php5-sqlite (>=5.6.9)
Installed-Size: 75016
Maintainer: Eric Coquard <eric.coquard@gmail.com>
Description: Centreon WebUI
   This package contains WebUI files.
