Package: centreon-central
Version: 19.04.0-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-poller ( >=19.04.0), centreon-database ( >=19.04.0), centreon-ui ( >=19.04.0)
Installed-Size: 0
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon Central with database
   The package Centreon Standalone with database and centreon-poller
