Package: centreon-widget-live-top10-memory-usage
Version: 19.04.0-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-web ( >=19.04.0)
Installed-Size: 88
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon Widgets
   Memory top 10 usage
