Package: centreon-central-without-db
Version: 2.8.24-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-poller ( >=2.8.24), centreon-ui ( >=2.8.24)
Installed-Size: 0
Maintainer: Eric Coquard <eric.coquard@gmail.com>
Description: Centreon Central without databases
   The package Centreon Standalone without databases and centreon-poller
