[Unit]
Description=Enable service provided CentreonTrapd : Manage SNMP Traps
PartOf=centreon.service
After=centreon.service
ReloadPropagatedFrom=centreon.service

[Service]
Type=simple
PIDFile=/var/run/centreon/centreontrapd.pid
EnvironmentFile=/etc/default/centreontrapd
User=centreon
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/share/centreon/bin/centreontrapd $OPTIONS
TimeoutSec=0

[Install]
WantedBy=centreon.service
