Package: centreon-centcore
Version: 18.10.3-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-web ( >=18.10.3)
Installed-Size: 96
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centcore for Centreon
   Package Centcore
