Package: centreon-widget-live-top10-cpu-usage
Version: 18.10.0-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-web ( >=18.10.4)
Installed-Size: 100
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon Widgets
   Cpu top 10 usage
