Package: centreon-widget-hostgroup-monitoring
Version: 19.04.0-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-web ( >=19.04.0)
Installed-Size: 108
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon Widgets
   HostGroup Monitoring Display
