Package: centreon-central-without-db
Version: 18.10.3-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-poller ( >=18.10.3), centreon-ui ( >=18.10.3)
Installed-Size: 0
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon Central without databases
   The package Centreon Standalone without databases and centreon-poller
