Package: centreon-trap
Version: 19.04.4-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-plugins ( >=19.04.4), centreon-perl-libs (>=19.04.4 )
Installed-Size: 120
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon Traps
   This package contains Centreon Trap engine
