Package: centreon-common
Version: 18.10.3-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-engine ( >=18.10.0)
Installed-Size: 40
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon common package
   Add user and group for Centreon and this suite.
