Package: centreon-centcore
Version: 19.04.4-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-web ( >=19.04.4)
Installed-Size: 96
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centcore for Centreon
   Package Centcore
