Package: centreon-central
Version: 2.8.23-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-poller ( >=2.8.23), centreon-database ( >=2.8.23), centreon-ui ( >=2.8.23)
Installed-Size: 0
Maintainer: Eric Coquard <eric.coquard@gmail.com>
Description: Centreon Central with database
   The package Centreon Standalone with database and centreon-poller
