Package: centreon-perl-libs
Version: 18.10.3-1
Section: net
Priority: extra
Architecture: all
Depends: libconfig-inifiles-perl ( >= 2.94 ), libnet-snmp-perl ( >= 6.0.1 ), libdigest-hmac-perl ( >= 1.03 ), libcrypt-des-ede3-perl ( >= 0.01 ), libdbd-sqlite3-perl ( >= 1.37 )
Conflicts: librrds-perl 
Installed-Size: 496
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon Perl libraries
   This packages contains Centreon Perl libraries.
