Package: centreon-widget-httploader
Version: 19.04.0-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-web ( >=19.04.0)
Installed-Size: 68
Maintainer: Eric Coquard <eric.coquard@gmail.com>
Description: Centreon Widgets
   httploader
