Package: centreon-ui
Version: 19.04.0-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-centcore ( >=19.04.0), sudo ( >=1.8.19 )
Installed-Size: 0
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon UI
   The package Centreon Standalone
