Package: centreon-widget-host-monitoring
Version: 19.04.1-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-web ( >=19.04.4)
Installed-Size: 160
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon Widgets
   Host Monitoring Display
