Package: centreon-central-without-db
Version: 19.04.4-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-poller ( >=19.04.4), centreon-ui ( >=19.04.4)
Installed-Size: 0
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon Central without databases
   The package Centreon Standalone without databases and centreon-poller
