Package: centreon-database
Version: 18.10.3-1
Section: net
Priority: extra
Architecture: all
Depends: mariadb-server ( >=10.0)
Installed-Size: 36
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: mariaDB database for Centreon
   The package databases for Centreon
