Package: centreon-widget-graph-monitoring
Version: 19.04.0-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-web ( >=19.04.0)
Installed-Size: 76
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon Widgets
   Graphs Display
