Package: centreon-trap
Version: 18.10.4-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-plugins ( >=18.10.4), centreon-perl-libs (>=18.10.4 )
Installed-Size: 120
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon Traps
   This package contains Centreon Trap engine
