Package: centreon-central
Version: 18.10.2-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-poller ( >=18.10.2), centreon-database ( >=18.10.2), centreon-ui ( >=18.10.2)
Installed-Size: 0
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon Central with database
   The package Centreon Standalone with database and centreon-poller
