Package: centreon-widget-graph-monitoring
Version: 18.10.0-2
Section: net
Priority: extra
Architecture: all
Depends: centreon-web ( >=18.10.0)
Installed-Size: 76
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon Widgets
   Graphs Display
