Package: centreon-widget-live-top10-cpu-usage
Version: 1.1.1-3
Section: net
Priority: extra
Architecture: all
Depends: centreon-web ( >=18.10.0)
Installed-Size: 100
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon Widgets
   Cpu top 10 usage
