Package: centreon-widget-servicegroup-monitoring
Version: 18.10.0-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-web ( >=18.10.0)
Installed-Size: 108
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon Widgets
   Service Group Monitoring Display
