Package: centreon-widget-host-monitoring
Version: 18.10.1-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-web ( >=18.10.3)
Installed-Size: 160
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Centreon Widgets
   Host Monitoring Display
