[Unit]
Description=Enable service provided CentCore : Manage pollers
PartOf=centreon.service
After=centreon.service
ReloadPropagatedFrom=centreon.service

[Service]
Type=simple
PIDFile=/var/run/centreon/centcore.pid
EnvironmentFile=/etc/default/centcore
User=centreon
ExecStart=/usr/share/centreon/bin/centcore $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutSec=0

[Install]
WantedBy=centreon.service
