Package: centreon-ui
Version: 2.8.24-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-centcore ( >=2.8.24), sudo ( >=1.8.10 )
Installed-Size: 0
Maintainer: Eric Coquard <eric.coquard@gmail.com>
Description: Centreon UI
   The package Centreon Standalone
