Package: centreon-clapi
Version: 2.8.15-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-ui ( >=2.8.15)
Installed-Size: 132
Maintainer: Eric Coquard <eric.coquard@gmail.com>
Description: Scripts for Centreon Clapi
