Package: centreon-clapi
Version: 19.04.4-1
Section: net
Priority: extra
Architecture: all
Depends: centreon-ui ( >=19.04.4)
Installed-Size: 352
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Scripts for Centreon Clapi
